* {
  font-family: "roboto", sans-serif;
  color: #726C6C;
  font-weight: lighter;
  margin: 0px;
}

.header {
  padding: 0px 10px;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
}
.header a:link {
  color: #726C6C;
  text-decoration: none;
}
.header a:visited {
  color: #726C6C;
  text-decoration: none;
}

.heading {
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 200px 50px 0px;
}
.title h1 {
  font-size: 70px;
  margin: 0px;
}

.sub-heading {
  display: flex;
  justify-content: flex-end;
  background-color: #FED7C9;
  width: 100%;
  height: 300px;
}
.sub-heading :hover {
  color: white;
}
.sub-heading h3 {
  font-family: "roboto", sans-serif;
  font-weight: lighter;
  color: #726C6C;
  padding: 0px 120px;
}

#about {
  background-color: #FED7C9;
  height: 500px;
  padding: 20px;
}
#about p {
  padding: 10px 0px;
  max-width: 60%;
}

#projects {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

[class^=con] {
  background-color: white;
  margin: 0px;
}

[class^=row] {
  min-height: 200px;
  padding: 20px;
}

[class^=col] {
  padding: 15px;
  background-color: #726C6C;
  text-align: center;
  border: 8px solid white;
  border-radius: 15px;
}

[class^=col] a:link {
  color: white;
}

[class^=col] a:visited {
  color: white;
  text-decoration: none;
}

.fas {
  color: white;
}

.cards {
  perspective: 800px;
}

.card1 {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  position: relative;
  transform: rotateY(0deg);
}

.front {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotateY(0deg);
}

.back {
  backface-visibility: hidden;
  background-color: red;
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  position: absolute;
}

.flipCard {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flipCard .back {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

#skills-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 100px 20px 50px;
}

#contact {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.footer {
  background-color: #FED7C9;
  height: 280px;
  padding: 20px;
}
.footer p {
  padding: 0px 0px 0px 450px;
  display: flex;
  justify-content: flex-end;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.faicons {
  padding: 10px;
}

img {
  width: 100%;
  /* height: 70%; */
  /* object-fit: cover; */
  aspect-ratio: 1 / 1;
}